body{
    background-image:url("images/webbackground.avif");
    scale: 0.85;
    background-repeat:no-repeat;
    background-size: cover;
}

h2{
    margin: 2cm;
}
button{
    background-color: aqua;
    padding: 20px;
    text-align: center;
    font-size:smaller;
    border-radius: 10%;
    border: 1cm;
}